# Build
.pants.d/
dist/
migration_scripts/

# IDEs
.idea
.vscode
.zed

# Local development
venv/
*/.venv/
.venv/
.ipynb_checkpoints
.__pycache__
__pycache__
dev_notebooks/
.pytest_cache/

# Other
llamaindex_registry.txt
packages_to_bump_deduped.txt
.env
credentials.json
token.json
.python-version
.DS_Store
/storage/

# Framework-specific files
local_neo4jWorkDir/
neo4jWorkDir/

# Data & Storage
inputs/
rag_storage/
examples/input/
examples/output/
output*/
custom_kg/

# Miscellaneous
.DS_Store
TODO.md
ignore_this.txt
*.ignore.*

# Project-specific files
dickens*/
book.txt
LightRAG.pdf
download_models_hf.py
lightrag-dev/
gui/

# cognee
.cognee_system/
.data_storage/
